



<div class="mdl-cell mdl-cell--12-col">
  <h3>Users</h3>
  <p id="notice"><%= notice %></p>
</div>
<ul class="demo-list-icon mdl-list">
  <li class="mdl-list__item">
    Users
  </li>
  <% @users.each do |user| %>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <%= link_to user, class: 'mdl-button mdl-js-button mdl-button--primary' do %>
            <i class="material-icons mdl-list__item-icon">person</i>
            <%= user.email %>
          <% end %>
        </span>
        <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'mdl-list__item-secondary-action mdl-button mdl-js-button mdl-button--accent' do %>
            <i class="material-icons">remove_circle_outline</i>
        <% end %>
      </li>
  <% end %>
</ul>