<div class="mdl-cell mdl-cell--12-col">
  <h3>User</h3>
</div>

<div class="mdl-cell mdl-cell--12-col">
  <strong>Email:</strong>
  <%= @user.email %>
</div>
<div class="mdl-cell mdl-cell--12-col">
  <% if current_user.try(:super?) %>
      <%= link_to 'Back', users_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
  <% else %>
      <%= link_to 'Back', root_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
  <% end %>
</div>