<div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
  <h3>New Post</h3>
  <% if params[:parent_id].present? %>
      <%= link_to 'Back', post_path(params[:parent_id]), class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent pull-right right-corner-button' %>
  <% else %>
      <%= link_to 'Back', posts_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent pull-right right-corner-button' %>
  <% end %>
</div>

<%= render 'form', post: @post %>


