// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-div{
  position: relative;
  .edit-link{
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
